[Unit]
Description=Helmet C++ Application
After=weston.service 

[Service]
Restart=always
RestartSec=20
User=root
WorkingDirectory=/home/x_user/my_camera_project
Environment="QT_QPA_PLATFORM=wayland"
Environment="XDG_RUNTIME_DIR=/run/user/0"
Environment="WAYLAND_DISPLAY=wayland-1"
Environment="PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
Environment="DISPLAY=:0"
Environment="GST_PLUGIN_PATH=/usr/lib/aarch64-linux-gnu/gstreamer-1.0/"
Environment="GST_PLUGIN_FEATURE_RANK=vpudec:256"
#Environment="GST_DEBUG=4"
ExecStart=/home/x_user/my_camera_project/run_app.sh
#Environment="LD_LIBRARY_PATH=/usr/lib/aarch64-linux-gnu"
#Environment="MESA_LOADER_DRIVER_OVERRIDE=vivante"
#Environment="EGL_PLATFORM=wayland"
#ExecStartPre=/bin/sleep 30
#ExecStart=/usr/bin/strace -o /tmp/strace1.log -f /home/x_user/my_camera_project/run_app.sh
#CapabilityBoundingSet=CAP_NET_ADMIN
#AmbientCapabilities=CAP_NET_ADMIN
#ExecStartPre=/bin/bash -c 'mkdir -p /run/user/0 && chmod 0700 /run/user/0'
#CapabilityBoundingSet=CAP_SYS_TIME CAP_NET_ADMIN CAP_SETGID CAP_SETUID
#AmbientCapabilities=CAP_SYS_TIME CAP_NET_ADMIN CAP_SETGID CAP_SETUID
[Install]
WantedBy= graphical.target